@import url("http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic");
.user-selectable-none, .panel {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

* {
  font-family: 'Istok Web', sans-serif !important; }

a, a:focus, a:hover, a:active {
  text-decoration: none; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#wrapper {
  height: 100%;
  width: 100%;
  background: #B2EBF2; }
  #wrapper .inner {
    position: relative;
    width: 3000px;
    height: 100%;
    top: 0px !important; }
    @media screen and (max-width: 767px) {
      #wrapper .inner {
        zoom: 0.85;
        width: 2900px; } }
    #wrapper .inner div {
      width: 3000px;
      position: absolute;
      cursor: move; }
      #wrapper .inner div.sky {
        height: 50%;
        bottom: 50%;
        z-index: 1;
        background-image: url(../images/sky@2x.jpg);
        background-size: 100%;
        background-position: center bottom;
        background-repeat: repeat-x; }
      #wrapper .inner div.skyline {
        height: 100%;
        bottom: 350px;
        z-index: 2;
        background-image: url(../images/skyline@2x.png);
        background-size: 72%;
        background-position: center bottom;
        background-repeat: repeat-x; }
      #wrapper .inner div.trees {
        bottom: 250px;
        height: 100%;
        z-index: 3;
        background-image: url(../images/trees@2x.png);
        background-size: 100%;
        background-position: center bottom;
        background-repeat: no-repeat; }
      #wrapper .inner div.foreground {
        bottom: 0;
        height: 100%; }
        #wrapper .inner div.foreground .ground {
          height: 100%;
          bottom: 0;
          background-image: url(../images/riverbank@2x.png);
          background-size: 100%;
          background-position: center bottom;
          background-repeat: repeat-x;
          z-index: 4; }
        #wrapper .inner div.foreground .river {
          bottom: 0;
          height: 250px;
          width: 3000px;
          overflow: hidden; }
          #wrapper .inner div.foreground .river .water {
            height: 100px;
            left: -50px;
            bottom: 0;
            width: 3200px;
            background-image: url(../images/river@2x.png);
            background-size: 100%;
            background-position: center top;
            background-repeat: repeat-x; }
            #wrapper .inner div.foreground .river .water:nth-child(1n) {
              bottom: -20px;
              z-index: 16; }
            #wrapper .inner div.foreground .river .water:nth-child(2n) {
              bottom: 0;
              z-index: 15;
              left: -75px; }
            #wrapper .inner div.foreground .river .water:nth-child(3n) {
              bottom: 20px;
              z-index: 14; }
            #wrapper .inner div.foreground .river .water:nth-child(4n) {
              bottom: 40px;
              z-index: 13;
              left: -75px; }
            #wrapper .inner div.foreground .river .water:nth-child(5n) {
              bottom: 60px;
              z-index: 12; }
            #wrapper .inner div.foreground .river .water:nth-child(6n) {
              bottom: 80px;
              z-index: 11; }
            #wrapper .inner div.foreground .river .water:nth-child(7n) {
              bottom: 100px;
              z-index: 10; }
    #wrapper .inner div.hotspots {
      height: 100%; }
      #wrapper .inner div.hotspots > .hotspot {
        z-index: 20;
        cursor: pointer;
        background-size: 100%;
        display: block;
        position: absolute; }

.alert {
  width: 100%;
  text-align: center;
  display: block;
  height: 14px;
  background: #328795;
  position: relative;
  z-index: 99;
  padding: 8px 0;
  font-size: 14px;
  font-weight: 700;
  color: #9cd4de;
  transition: 0.5s all; }
  .alert > .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    padding: 7px 6px 5px;
    color: #9cd4de; }
    .alert > .close:hover {
      color: white; }
  .alert:hover {
    color: white; }
  .alert + .menu-link {
    top: 50px; }

@-moz-keyframes pulsing {
  0% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); }
  50% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75); }
  100% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); } }
@-webkit-keyframes pulsing {
  0% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); }
  50% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75); }
  100% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); } }
@keyframes pulsing {
  0% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); }
  50% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.75); }
  100% {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0); } }
.hotspot-indicator {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  z-index: 20;
  left: 50%;
  margin-left: -20px;
  top: -40px;
  cursor: pointer; }
  .hotspot-indicator > svg {
    width: 40px;
    height: 40px; }
    .hotspot-indicator > svg #drop_x5F_front_1_,
    .hotspot-indicator > svg #drop_x5F_mid_1_,
    .hotspot-indicator > svg #drop_x5F_back_1_ {
      -moz-animation: pulsing 4s linear infinite alternate;
      -webkit-animation: pulsing 4s linear infinite alternate;
      animation: pulsing 4s linear infinite alternate; }

.modal {
  display: block; }
  .modal h2 {
    font-size: 24px; }
  .modal a {
    display: block;
    width: auto;
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
    border: 2px solid #328795;
    color: #328795;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.5s all; }
    .modal a:hover {
      border: 2px solid #25646f;
      color: #25646f; }
  .modal img {
    margin: 20px 0;
    max-width: 100%; }
  .modal .close {
    top: 0;
    right: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    padding: 20px;
    color: #AAA;
    position: absolute;
    cursor: pointer; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  opacity: 0;
  z-index: 998;
  transition: 0.5s opacity; }
  .overlay.in {
    opacity: 0.35; }

.panel {
  position: fixed;
  left: 0;
  width: 320px;
  z-index: 30;
  -webkit-transform: translateX(-320px);
  transform: translateX(-320px);
  top: 0;
  bottom: 0;
  background: white;
  background: rgba(255, 255, 255, 0.75);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease; }
  @media screen and (max-width: 767px) {
    .panel {
      width: 400px;
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px); } }
  .panel.active {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  .panel .panel-inner {
    margin: 60px 0 0;
    list-style: none;
    padding: 0; }
    .panel .panel-inner > li.header {
      padding: 20px 22px 15px;
      color: #00447B;
      font-size: 18px;
      font-weight: 700;
      border-bottom: 1px solid rgba(255, 255, 255, 0.9); }
      @media screen and (max-width: 767px) {
        .panel .panel-inner > li.header {
          font-size: 21px; } }
    .panel .panel-inner > li a {
      padding: 15px 22px;
      display: block;
      color: #0072AE;
      text-decoration: none;
      border-bottom: 1px solid white;
      font-size: 16px;
      background: rgba(255, 255, 255, 0); }
      .panel .panel-inner > li a:hover {
        background: rgba(255, 255, 255, 0.5); }
      @media screen and (max-width: 767px) {
        .panel .panel-inner > li a {
          font-size: 18px; } }

.menu-link {
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  width: 36px;
  height: 36px;
  text-decoration: none;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  transition: 0.5s all;
  padding: 20px;
  cursor: pointer; }
  .menu-link path {
    fill: #255C8C;
    transition: 0.5s fill; }
  .menu-link:hover path {
    fill: #1a4164; }
  @media screen and (max-width: 767px) {
    .menu-link {
      width: 48px;
      height: 48px; } }

/*# sourceMappingURL=main.css.map */
