.alert {
    width: 100%;
    text-align: center;
    display: block;
    height: 34px;
    background: #328795;
    position: relative;
    z-index: 99;
    padding: 7px 0 9px;
    font-size: 14px;
    font-weight: 700;
    color: lighten(#328795, 35%);
    transition: 0.5s all;
    border: none;
    border-radius: 0;
    margin: 0;

    > .close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 18px;
        font-weight: 400;
        padding: 7px 10px 8px;
        color: lighten(#328795, 35%);
        text-shadow: none;
        opacity: 1;

        &:hover {
            color: white;
        }
    }

    &:hover {
        color: white;
    }

    & + .menu-link {
        top: 34px;
    }
}