$blur: 24px;

@-moz-keyframes pulsing {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes pulsing {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes pulsing {
    0%   { opacity: 0; }
    50%  { opacity: 1; }
    100% { opacity: 0; }
}

.hotspot-indicator {
    width: 102px;
    height: 102px;
    display: block;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -51px;
    top: -80px;
    cursor: pointer;

    > svg { 
        width: 102px; 
        height: 102px;

        .glow {
            opacity: 0;
            -webkit-animation: pulsing 5s linear 0s infinite;
            animation: pulsing 5s linear 0s infinite;
            -moz-animation: none;
        }
    }
}