$blur: 24px;

@-moz-keyframes pulsing {
    0%   { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
    50%  { box-shadow: 0 0 $blur rgba(255,255,255, 1); }
    100% { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
}
@-webkit-keyframes pulsing {
    0%   { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
    50%  { box-shadow: 0 0 $blur rgba(255,255,255, 1); }
    100% { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
}
@keyframes pulsing {
    0%   { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
    50%  { box-shadow: 0 0 $blur rgba(255,255,255, 1); }
    100% { box-shadow: 0 0 $blur rgba(255,255,255, 0); }
}

.hotspot-indicator {
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    z-index: 20;
    left: 50%;
    margin-left: -24px;
    top: -44px;
    cursor: pointer;

    > svg { 
        width: 48px; 
        height: 48px;
    }
}
