.panel {
    position: fixed;
    left: 0;
    width: 400px;
    z-index: 30;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: white;
    background: rgba(255,255,255,0.75);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    @extend .user-selectable-none;

    @media screen and #{$screen-xs} {
        width: 100%;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    &.active {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

    .panel-inner {
        margin: 84px 0 0;
        list-style: none;
        padding: 0;

        > li {
            &.header {
                padding: 20px 22px 15px;
                color: #00447B;
                font-size: 21px;
                font-weight: 700;
                border-bottom: 1px solid rgba(255,255,255,0.9);

                @media screen and #{$screen-xs} {
                    font-size: 21px;
                }
            }

            a {
                padding: 15px 22px;
                display: block;
                color: #0072AE;
                text-decoration: none;
                border-bottom: 1px solid white;
                font-size: 16px;
                font-weight: 400;
                background: rgba(255,255,255,0);

                &:hover {
                    background: rgba(255,255,255,0.85);
                }
                &:after {
                    content: '\00BB';
                    margin-left: 8px;
                }

                @media screen and #{$screen-xs} {
                    font-size: 18px;
                }
            }
        }
    }
    .credits {
        padding: 22px;
        font-size: 11px;
        position: absolute;
        bottom: 0;
        width: 100%;

        hr {
            width: 25%;
            border: none;
            border-bottom: 4px solid #FFF;
            margin: 15px 0;
        }
    }
}
.menu-link {
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    width: 36px;
    height: 36px;
    text-decoration: none;
    text-shadow: 0 0 12px rgba(0,0,0,0.25);
    transition: 0.5s all;
    padding: 20px;
    cursor: pointer;

    path { fill: lighten(#255C8C, 10%); transition: 0.5s fill; }

    &:hover {
        path { fill: darken(#255C8C, 10%); }
    }

    @media screen and #{$screen-xs} {
        width: 48px;
        height: 48px;
    }
}

